@using Rozklad.Core
@using Rozklad.Repository.Dto.TimetableDto
@using RozkladClient.Infrastructure


@inject NavigationManager Navigation
@inject HttpTimetableService timetableService
<h3>TimetableGrid</h3>



@if (TimetableRead == null)
{
    <p><em>У вас нульове значення...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>День</th>
                <th>Дисципліна</th>
                <th>Кабінет</th>
                <th> Номер уроку</th>
                <th>Початок</th>
                <th>Закінчення</th>
                <th>Вчитель</th>
            </tr>
        </thead>
        <tbody>
            
                <tr>
                    <td>@TimetableRead.TimetableId</td>
                    <td>@TimetableRead.Day</td>
                    <td>@TimetableRead.Lesson.Discipline.DisciplineName</td>
                    <td>@TimetableRead.Cabinet.CabinetName</td>
                    <td>@TimetableRead.LessonNumber</td>
                    <td>@TimetableRead.TimeStart</td>
                    <td>@TimetableRead.TimeEnd</td>
                    <td>@TimetableRead.Lesson.Teacher.TeacherName</td>
                </tr>
            
        </tbody>
        <hr />
        <SfButton IsPrimary="true" OnClick="@GoToDetailsPage">Деталі</SfButton>
        <SfButton CssClass="e-warning" OnClick="@GoToEditPage">Редагувати</SfButton>
    </table>
}

@code {
	[Parameter]
    public TimetableReadDto TimetableRead { get; set; }

    //private IEnumerable<TimetableReadDto> Timetables = new List<TimetableReadDto>();

    //protected override async Task OnInitializedAsync()
    //{
        //TimetableRead = await timetableService.GetTimetablesAsync();
    //}

    void GoToDetailsPage()
    {
        Navigation.NavigateTo($"/timetables/{TimetableRead.TimetableId}");
    }

    void GoToEditPage()
    {
        Navigation.NavigateTo($"/timetables/edit/{TimetableRead.TimetableId}");
    }

}
