@using Rozklad.Core
@using Rozklad.Repository.Dto.TimetableDto
@using RozkladClient.Infrastructure
@using Syncfusion.Blazor.Buttons

@inject NavigationManager Navigation
@inject HttpTimetableService timetableService
@*<h3>TimetableGrid</h3>*@



@if (TimetableRead == null)
{
    <p><em>У вас нульове значення...</em></p>
}
else
{
    
    <head>
    <meta charset="utf-8">
    <title>DASHMIN - Bootstrap Admin Template</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicon -->
    <link href="img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600;700&display=swap" rel="stylesheet">
    
    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet" />

    <!-- Customized Bootstrap Stylesheet -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="css/style.css" rel="stylesheet">
</head>

    @*<table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>День</th>
                <th>Дисципліна</th>
                <th>Кабінет</th>
                <th> Номер уроку</th>
                <th>Початок</th>
                <th>Закінчення</th>
                <th>Вчитель</th>
            </tr>
        </thead>
        <tbody>
            
                <tr>
                    <td>@TimetableRead.TimetableId</td>
                    <td>@TimetableRead.Day</td>
                    <td>@TimetableRead.Lesson.Discipline.DisciplineName</td>
                    <td>@TimetableRead.Cabinet.CabinetName</td>
                    <td>@TimetableRead.LessonNumber</td>
                    <td>@TimetableRead.TimeStart</td>
                    <td>@TimetableRead.TimeEnd</td>
                    <td>@TimetableRead.Lesson.Teacher.TeacherName</td>
                </tr>
            
        </tbody>*@

         <div class="container-fluid pt-3 px-3">
                <div class="bg-light text-center rounded p-3">
                    <div class="d-flex align-items-center justify-content-between mb-3">
                        <h6 class="mb-0">Recent Salse</h6>
                        <a href="">Show All</a>
                    </div>
                    <div class="table-responsive">
                        <table class="table text-start align-middle table-bordered table-hover mb-0">
                            <thead>
                                <tr class="text-dark">
                                    <th scope="col"><input class="form-check-input" type="checkbox"></th>
                                    <th scope="col">Day</th>
                                    <th scope="col">Discipline</th>
                                    <th scope="col">Cabinet</th>
                                    <th scope="col">Teacher</th>
                                    <th scope="col">StartTime</th>
                                    <th scope="col">EndTime</th>
                                    
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><input class="form-check-input" type="checkbox"></td>
                                    <td>@TimetableRead.Day</td>
                                    <td>@TimetableRead.Lesson.Discipline.DisciplineName</td>
                                    <td>@TimetableRead.Cabinet.CabinetName</td>
                                    <td>@TimetableRead.LessonNumber </td>
                                    <td>@TimetableRead.TimeStart</td>
                                    <td>@TimetableRead.TimeEnd</td>
                                    <td><a class="btn btn-sm btn-danger" href="/delete">Видалити</a>
                                      <a class="btn btn-sm btn-dark m-2" href="/edit">Редагувати</a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        @*<hr />*@
        @*<SfButton IsPrimary="true" OnClick="@GoToDetailsPage">Деталі</SfButton>*@
        @*<SfButton CssClass="e-warning" OnClick="@GoToEditPage">Редагувати</SfButton>*@
        

       
    
}

@code {
	[Parameter]
    public TimetableReadDto TimetableRead { get; set; }

    //private IEnumerable<TimetableReadDto> Timetables = new List<TimetableReadDto>();

    //protected override async Task OnInitializedAsync()
    //{
        //TimetableRead = await timetableService.GetTimetablesAsync();
    //}

    void GoToDetailsPage()
    {
        //Navigation.NavigateTo($"/timetables/{TimetableRead.TimetableId}");
    }

    void GoToEditPage()
    {
        //Navigation.NavigateTo($"/timetables/edit/{TimetableRead.TimetableId}");
    }

}
