@using Rozklad.Repository.Dto.TimetableDto
﻿@using Rozklad.Core
@using Rozklad.Repository
@using Rozklad.Repository.Dto.CabinetDto
@using Rozklad.Repository.Dto.ClassDto


@model IEnumerable<Timetable>

    @{
     Layout = "/Views/Shared/_DashminBlankLayout.cshtml";
}

<div class="container-fluid pt-4 px-4">
                <div class="row g-4">
                    <div class="col-sm-12 col-xl-6">
                        <div class="bg-light rounded h-100 p-4">
@using Rozklad.Repository.Dto.TeacherDto
@using Rozklad.Repository.Dto.PupilDto


@{
}

<div class="float-end">
    <a href="/days/create" class="btn btn-outline-primary">Додати день</a>
</div>

<div class="float-end">
    <a href="/days/create" class="btn btn-outline-primary">Додати день</a>
</div>


<h1>Розклад уроків</h1>

<hr />

<table class="table table-bordered">
    <thead>
        <tr>
           

            <th>День</th>
            <th>Дисципліна</th>
            <th>Кабінет</th>
               <th>Вчитель</th>      
                     <th>Початок</th>
                     <th>Закінчення</th>
        </tr>
    </thead>
    <tbody>

        @foreach(var u in Model)
        {
            <tr>
               

                 <td>@u.Day </td>
                 <td>@u.Lesson.Discipline.DisciplineName  </td>
                 <td>@u.Cabinet.CabinetName  </td>
                 <td>@u.Lesson.Teacher.TeacherName  </td>
                 <td>@u.TimeStart  </td>
                 <td>@u.TimeEnd  </td>
                 <td>
                     <a href="/timetable/@u.TimetableId" class="btn btn-warning">Редагувати</a>
                    <a href="/timetable/delete/@u.TimetableId" class="btn btn-danger">Видалити</a>
                    
                </td>
                   

            </tr>
        }
    </tbody>
</table>

           

